.ast-on-card-button.ast-select-options-trigger {
  display: none !important;
}

a.ws-button button {
  background-color: #25D366;
  transition: background-color 0.3s ease; 
}

a.ws-button button:hover {
  background-color: #1DA851;
}

.woocommerce ul.products li.product {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.woocommerce ul.products li.product .ast-woo-product-category {
  color: #74a84a !important;
  /* font-weight: bold; */
  opacity: 0.8 !important;
}

.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  color: #3a3a3a;
  font-weight: 500;
  text-align: center;
  text-transform: unset;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.woocommerce ul.products li.product .astra-shop-thumbnail-wrap .woocommerce-LoopProduct-link {
  border: 2px solid #eaeaea;
  border-radius: 5px;
  overflow: hidden;
}

.woocommerce ul.products li.product .astra-shop-thumbnail-wrap .attachment-woocommerce_thumbnail {
  transition: transform 0.2s ease;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.woocommerce ul.products li.product:hover .astra-shop-thumbnail-wrap .attachment-woocommerce_thumbnail {
  transform: scale(1.15);
}

.woocommerce ul.products li.product h2.woocommerce-loop-product__title:hover {
  color: #0063f8;
  text-decoration: underline;
}

.woocommerce ul.products li.product .price {
  margin-top: .8rem;
  text-align: center;
}

.woocommerce ul.products li.product .price .amount {
  color: #0063f8;
  font-weight: bold;
}
